<div class="p-5">
  <table class="table table-striped table-hover">
    <thead>

    </thead>
    <tbody>
      <tr>
        <td>img</td>
        <td>catagory</td>
        <td>expense</td>
        <td><button>edit</button></td>
        <td><button>delete</button></td>
      </tr>
    </tbody>
  </table>
</div>