header {
  overflow: hidden;
}

body {
  background-color: rgb(226, 230, 234);
}

.navbar .navbar-brand {
  color: #366dd3;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}



.date-record {
  font-size: xx-small;
}

.name-record {
  padding: 0px;
  margin: 0px;
}


@media screen and (max-width: 992px) {
  
  .card img{
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  
  .card img{
    height: auto;
  }
  
}